.jsp-spawner__size_options {
  &__title {
    font-weight: var(--pf-global--FontWeight--bold);
    margin-top: var(--pf-global--spacer--sm);
    > svg {
      margin-left: var(--pf-global--spacer--xs);
    }
  }
}