.jsp-app__admin__users {
  &__learn-more {
    margin-left: var(--pf-global--spacer--sm);
    svg {
      margin-left: var(--pf-global--spacer--xs);
    }
  }
  &__table {
    max-height: 446px;
    overflow-y: auto;
    .pf-c-table__button-content {
      align-items: center;
    }
    &__all-select {
      vertical-align: middle !important;
      > input {
        margin-top: var(--pf-global--spacer--xs);
      }
    }
    &__select {
      vertical-align: middle !important;
      > input {
        margin-top: 0 !important;
      }
    }
  }
  &__pagination {
    align-items: center;
    margin-top: var(--pf-global--spacer--sm);
    padding-right: var(--pf-global--spacer--md);
    .pf-c-pagination__nav {
      align-items: center;
    }
  }
  &__server-button {
    display: flex;
    justify-content: flex-end;
    .pf-c-button {
      margin-right: calc(-1 * var(--pf-global--spacer--md));
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__loading {
    align-items: center;
    display: flex;
    gap: var(--pf-global--spacer--md);
    font-size: var(--pf-global--FontSize--md);
    justify-content: center;
    margin: var(--pf-global--spacer--md);
  }
}

